{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}

  <nav>  
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '일반', true) }}
      {{ macros.m_tab_head2('auto', '자동', false) }}
      {{ macros.m_tab_head2('etc', '기타', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_input_text_and_buttons('url', 'Site URL', [['go_btn', 'GO']], value=arg['url'], desc=None) }}
      {{ macros.setting_input_text('download_folder', '다운로드 경로', value=arg['download_folder']) }}
      {{ macros.setting_checkbox('make_series_folder', '제목별 폴더', value=arg['make_series_folder'], desc=['On : 작품별로 폴더를 생성하여 저장', 'Off : 다운로드 경로 루트에 저장']) }}
      {{ macros.setting_checkbox('use_zip', 'ZIP', value=arg['use_zip'], desc=['On : 압축', 'Off : 에피소드별 폴더 안에 이미지 파일']) }}
      {{ macros.setting_input_int('max_queue_count', '동시 다운로드 수', value=arg['max_queue_count']) }}
      {{ macros.setting_checkbox('order_desc', '에피소드 최신순', value=arg['order_desc']) }}
      {{ macros.setting_checkbox('queue_auto_clear', '완료시 자동으로 큐목록에서 삭제', value=arg['queue_auto_clear']) }}
      {{ macros.setting_input_text('append_web_index', '에피소드 제목 앞에 인덱싱', value=arg['append_web_index'], desc=['예) [%03d] => [001] 에피소드 제목', '%04d - => 0001 - 에피소드 제목']) }}
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('auto', false) }}
      {{ macros.setting_global_scheduler_sub_button(arg['scheduler'], arg['is_running']) }}
      {{ macros.setting_input_text('interval', '스케쥴링 실행 정보', value=arg['interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
      {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
      {{ macros.setting_input_textarea('auto_code_list', '자동 다운로드 만화 코드', value=arg['auto_code_list'], row='10', desc=['구분자 , 또는 엔터. # 주석 가능', 'all인 모두 다운로드.', '', '대상페이지', '마나토끼 : https://manatoki81.net/page/update', '뉴토끼 : https://newtoki81.com/webtoon']) }}
      {{ macros.setting_input_textarea('auto_black_code_list', '다운로드 제외 만화 코드', value=arg['auto_black_code_list'], row='3', desc=['자동 다운로드 만화 코드 값이 all 인 경우에만 사용', '구분자 , 또는 엔터. # 주석 가능']) }}
      {{ macros.setting_checkbox('all_download', 'All Download', value=arg['all_download'], desc=['On : 새로운 에피소드를 받을 때 이전 화 전부를 다운합니다.', '이미 받은 경우 제외']) }}
    {{ macros.m_tab_content_end() }}
    
    {{ macros.m_tab_content_start('etc', false) }}
      {{ macros.setting_button([['global_one_execute_sub_btn', '1회 실행']], left='1회 실행' ) }}
      {{ macros.setting_button([['global_reset_db_sub_btn', '목록 초기화']], left='DB정리' ) }}
    {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
</form>
</div><!--전체-->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;

$(document).ready(function(){
});

$("body").on('click', '#go_btn', function(e){
  e.preventDefault();
  url = document.getElementById("url").value
  window.open(url, "_blank");
});

//설정 저장
$("#setting_save_btn").click(function(e) {
  e.preventDefault();
  var formData = get_formdata('#setting');
  $.ajax({
    url: '/'+package_name+'/ajax/' + sub + '/setting_save',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (ret) {
      if (ret) {
        $.notify('<strong>설정을 저장하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>설정 저장에 실패하였습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});
</script>    
{% endblock %}